.main__header-image{
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.main__section-hidden{
    display: none;
}

.main__section-visible{
   display: block;
}

@media screen and (max-width: 550px) { 
    .main__header-image{
        background-image: url(../../images/background_small.jpg);
    }
}
