.popup__text {
    width: 358px;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 9px 0 13px;
    box-sizing: border-box;
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: black;
    
}

.form__input-name{
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #2F71E5;
    margin-top: 30px;
}

.popup__button {
    width: 358px;
    height: 64px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #B6BCBF;
    margin: 39px 0 16px;
    padding: 0;
    background: #E6E8EB;
    border-radius: 100px;
}

.popup__button:hover {
    background: rgba(0,0,0,0.8);
    transition: opacity 0.3s;
}

.form__link-wrapper{
    font-family: 'Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin:0 0 28px -36px;
    text-align: center;
}


.form__link-text{
    color: #2F71E5;
}

.form__link-text:hover {
    cursor: pointer;
}