.header {
    max-width: 1440px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #D1D2D6;
}


.header_hidden {
    display: none;
}


.header__name {
    font-family: 'Roboto Slab','Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-left: 104px;
    color: #FFFFFF;
    align-self: center;
}

.header__name_dark {
    font-family: 'Roboto Slab','Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-left: 104px;
    align-self: center;
    color: #1A1B22;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 104px;
}
.header__text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    height: 100%;
    margin-right: 34px;
    display: flex;
    align-items: center;
}

.header__text_active{
    border-bottom: solid 3px #FFFFFF;
}

.header__dark_active{
    box-shadow: inset 0px -3px 0px #1A1B22;
    /*border-bottom: solid 3px #1A1B22;*/
}

.header__text_dark {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #1A1B22;
    height: 100%;
    margin-right: 34px;
    display: flex;
    align-items: center;
    
}

.header__text_dark :first-of-type{
    margin-right: 34px;
}

.header__button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 176px;
    height: 48px;
    background: rgba(0, 0, 0, 0)
}

.header__button:hover{
    cursor: pointer;
}

.header__button_dark {
    border: 1px solid #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 48px;
    background: #FFFFFF;
    padding:0;
   
}

.header__button-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.header__button-text_dark{
    color:#1A1B22;
    margin-right: 9px;
}



@media screen and (max-width: 1023px) {
    .header__text {
        font-size: 16px;
        margin-right: 16px;
    }

    .header__text_dark {
        font-size: 16px;
        margin-right: 16px;
    }

    .header__button-text{
        font-size: 16px;
        margin-right: 16px;
    }

    .header__name {
    margin-left: 40px;
    }

    .header__name_dark {
    margin-left: 40px;
    }

    .header__menu {
        margin-right: 40px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        flex-direction: column;
    }
}
/*
@media screen and (max-width: 800px)  {
    .header {
        margin: 0;
        padding-top: 28px;
        padding-left: 27px;
    }
}
*/