

.header {
    max-width: 1440px;
    padding: 30px 104px 26px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cc1919;
    position: fixed;
    top: 0;
    width: 100%;
}


.header_hidden {
    display: none;
}

.header__name {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    align-self: center;
}

.header__name_dark {
    color: #1A1B22;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header__text {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: 34px;
    align-self: center;
    color: #FFFFFF;
}


.header__text_dark {
    color: #1A1B22;
}

.header__button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 12px;
}

.header__button_dark {
    border: 1px solid #1A1B22;
}

.header__logo {
    margin-left: 6px;
}


/*
@media screen and (min-width: 1281px) {
    .header {
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px)  {
    .header {
        margin: 0;
        padding-top: 28px;
        padding-left: 27px;
    }
}
*/