.footer {
    max-width: 1440px;
    padding: 30px 104px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #cc1919;
}

.footer__name {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    margin: 0px;
    align-self: center;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
}

.footer__menu-item {
    margin-right: 13px;
}
.footer__menu-icon {
    margin-left: 28px;
}