
.search {
    max-width: 1440px;
    min-height: 496px;
    display: flex;
    flex-direction: column;
    padding: 0px 416px;
}

.search__title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    padding: 0;
    margin: 80px 0 32px 0;
}

.search__subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0;
    margin: 0 0 64px;
}

@media screen and (max-width: 1244px) { 
    .search {
        min-height: 334px;
        padding: 0px 220px;
    }

    .search__title {
        font-size: 36px;
        line-height: 40px;
        margin: 38px 0 16px 0;
    }

    .search__subtitle {
        margin: 0 0 48px;
    }

}