
.search {
    max-width: 1440px;
    min-height: 496px;
    background-image: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 0px 416px;
    border: 1px solid #cc1919;
}

.search__title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
    padding: 0;
    margin: 160px 0 32px 0;
}

.search__subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0;
    margin: 0 0 64px;
}

.search__wrapper {
    position: relative;
    max-width: 608px;
    min-height: 64px;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #FFFFFF;
    padding: 0 0 0 24px;
    margin: 0 0 80px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
    display: flex;
    align-items: center;
}

.search__button{
    width: 168px;
    min-height: 64px;
    margin:0;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border-radius: 100px;
    position: absolute;
    right: 0;
    top:0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}