.cards__title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
}

.cards__wrapper{
    max-width: 1232px;
    margin: 64px auto 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.cards__button{
    background: #FFFFFF;
    border-radius: 80px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A1B22;
}