.cards{
    background-color: #F5F6F7;
}


.cards__title {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin:0px;
    padding-top: 80px;
    padding-left: 104px;
    
}

.cards__wrapper{
    max-width: 1232px;
    padding: 64px 104px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 16px;
    row-gap: 16px;
    background: #F5F6F7;
}

.cards__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto;
    padding-bottom: 80px;
}

.cards__button{
    width: 288px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 80px;
    font-family: 'Roboto','Inter','Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1A1B22;
    border: none;
}

.cards__button:hover{
    cursor: pointer;
    background: #FFFFFF;
    opacity: 0.9;
}

@media screen and (max-width: 1244px) { 
    .cards__title {
        font-size: 30px;
        line-height: 34px;
        margin:0px;
        padding-top: 40px;
        padding-left: 40px; 
    }

    .cards__button{
        width: 252px;
        height: 58px;
    }

    .cards__button-wrapper {
        padding-bottom: 40px;
    }

    .cards__wrapper{
        padding: 32px 40px;
    }
}